<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Ezest_Practice::parent" title="Practice" module="Ezest_Practice" sortOrder="100" resource="Ezest_Practice::parent"/>
		<add id="Ezest_Practice::practice" title="Ezest Practice" module="Ezest_Practice" sortOrder="20" parent="Ezest_Practice::parent" action="practice/practice" resource="Ezest_Practice::practice"/>

    </menu>
</config>